<div class="selector">
  <d3ng-groups class="chart" [groups]="[0,1]" (selectedChanged)="onSelectedChanged($event)" [context]="context">
    <d3ng-scatter-plot d3ngSource [data]="data" [dimensions]="dimensions" x="x" y="y" [config]="scatterPlotConfig"></d3ng-scatter-plot>
  </d3ng-groups>
</div>
<div class="comparison">
  <d3ng-scatter-plot class="chart" d3ngSource [source]="one" pattern="container/contents" [allowEmpty]="true"
                       [dimensions]="dimensions" x="x" y="y" [config]="scatterPlotConfig"></d3ng-scatter-plot>
  <d3ng-scatter-plot class="chart" d3ngSource [source]="two" pattern="container/contents" [allowEmpty]="true"
                       [dimensions]="dimensions" x="x" y="y" [config]="scatterPlotConfig"></d3ng-scatter-plot>
</div>
