:host {
  display: inline-block;
  white-space: nowrap;
}

.column, .controls {
  display: inline-block;
  white-space: normal;
}

.column {
  width: 905px;
  padding-right: 5px;
  border-style: none solid none none;
  border-color: lightgrey;
  border-width: 1px;
  margin-right: 5px;
}
