<div class="editor">
  <div class="source json-view edit-part">
    <span class="label">Source</span>
    <d3ng-group-selection [multi]="false" [allowEmpty]="true" [groups]="availableGroups" (valueChange)="onSourceGroupChanged($event)"></d3ng-group-selection>
    <div class="content">
      <t-json-viewer *ngIf="data" [json]="source"></t-json-viewer>
    </div>
  </div>
  <div class="transformation edit-part" d3ngSource [source]="source" [pattern]="code" (dataChange)="target=$event" [allowEmpty]="true">
    <span class="label">Transformation</span>
    <form>
      <md-input-container>
        <textarea #codeInput mdInput></textarea>
      </md-input-container>
      <button type="button" md-raised-button (click)="code=codeInput.value"><md-icon>keyboard_return</md-icon></button>
    </form>
  </div>
  <div class="target json-view edit-part">
    <span class="label">Target</span>
    <div class="content">
      <t-json-viewer [json]="target"></t-json-viewer>
    </div>
  </div>
  <div class="visualization edit-part">
    <span class="label">Visualization</span>
    <form class="chartForm">
      <md-select class="chartSelect" placeholder="Chart to add"
                 [(ngModel)]="chartConfig" [ngModelOptions]="{standalone: true}">
        <md-option *ngFor="let chart of chartsConfig.charts" [value]="chart">{{ chart.name }}</md-option>
      </md-select>
      <div *ngIf="chartConfig">
        <d3ng-group-selection #groupSelection [groups]="selectableGroups" [multi]="true" [allowEmpty]="false"></d3ng-group-selection>
        <div class="dim" *ngFor="let property of (chartConfig ? chartConfig.dimensionProperties : [])">
          <md-select class="dimSelect"
                     [placeholder]="chartConfig.dimensionProperties.length > 1 ? property.name : 'metric'"
                     [(ngModel)]="property.value" [ngModelOptions]="{standalone: true}">
            <md-option *ngFor="let dim of chartsConfig.dimensions" [value]="dim">{{dim}}</md-option>
          </md-select>
        </div>
        <button type="button" *ngIf="chartConfig" md-raised-button (click)="addChart()"><md-icon>add</md-icon></button>
      </div>
    </form>
  </div>
</div>

<div class="canvas">
  <div [ngGrid]="gridConfig">
    <d3ng-workbench-item *ngFor="let item of items; let i = index" [(ngGridItem)]="item.gridItemConfig"
                         class="item" [title]="item.name" [index]="i" [source]="item.source" [pattern]="item.pattern"
                         [component]="item.chartConfig.component"
                         [config]="item.chartConfig" [groups]="item.groups" [context]="context">
    </d3ng-workbench-item>
  </div>
</div>

<!--
<div class="column" *ngFor="let source of sources; let i = index">
  <d3ng-workbench-column [source]="source" [config]="config" (selectionChange)="onSelectedChanged($event,i)"
                         [isLast]="i+1 == sources.length && i != 0" #column></d3ng-workbench-column>
</div>
<div class="controls">
  <md-icon (click)="addClicked()">add_circle</md-icon>
</div>
-->
