.chartForm {
  margin-top: 20px;
  border-style: none none solid none;
  border-color: lightgrey;
  border-width: 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.chartForm div {
  display: inline;
}

.chartForm .chartSelect {
  width: 200px;
}

.pattern, .dim, .chartSelect {
  margin-right: 10px;
}

.dimSelect {
  width: 100px;
}

md-select {
  margin-top:-5px;
}

