.header {
  background: #EEE;
  position: relative;
  display: block;
  height: 60px;
  padding: 10px 10px 0px 10px;
  margin: 5px 0;
}

.chartForm {
  margin-top: 5px;
  float: left;
}

.controls {
  float: right;
  padding-top: 15px;
}

.chartForm div {
  display: inline;
}

.chartForm .chartSelect {
  width: 200px;
}

.pattern, .dim, .chartSelect {
  margin-right: 10px;
}

.dimSelect {
  width: 100px;
}

button {
  margin-left: 20px;
}

md-icon:hover {
  cursor: pointer;
}

