<div class="explanations">
  <p>
    <a target="new" href="http://ourworldindata.org">Our World in Data (OWID)</a>
    is an online publication that shows living conditions in our world. OWID is
    produced at the University of Oxford. It comprises a collection of many data-sets
    from various sources covering many variables for as many countries as possible.
    Use the source-links to get to the respective OWID page to get more information.
  </p>
  <p>
    OWID's data is licenced under CC-BY-SA. Therefore, this distribution of its data
    is also licenced under CC-BY-SA.
  </p>
</div>
<div class="grid">
  <div class="col-4-12" style="overflow: auto;">
    <p>
      1. Choose the data-sets that you want to visualize. (Right click deselects all.)
    </p>
    <d3ng-collapsible-indented-tree #meta d3ngSource [source]="metaDataList" pattern="."
                                    [multiselect]="true" (selectedChange)="setDimensions($event)">

    </d3ng-collapsible-indented-tree>
  </div>
  <div class="col-8-12" style="padding-left: 30px">
    <p>
      There is some data from {{timeExtent.minLabel}} to {{timeExtent.maxLabel}}. The current year is {{year}}.
      You can shift in time:
    </p>
    <p>
      <md-slider style="width: 100%" [min]="timeExtent.min" [max]="timeExtent.max"
                 [thumb-label]="true" [step]="(timeExtent.max - timeExtent.min)/50"
                 (input)="onTimeChanged($event)">
      </md-slider>
    </p>
    <p>
      2. Use the parallel coordinates to filter outliers and other unwanted data points by clicking and
      dragging vertically on an axis. You can use the small arrow heads to spread or compress the axis projections.
    </p>
    <d3ng-groups [context]="context" [groups]="[1]" (selectedChanged)="countries = $event.selected">
      <d3ng-parallel-coordinates #pc [data]="data" [dimensions]="dimensions"></d3ng-parallel-coordinates>
    </d3ng-groups>
    <p>
      3. You can also select data points by country. (Right click deselects all.)
    </p>
    <div class="map-container">
      <div class="map-controls">
        <md-select placeholder="Choropleth" [(ngModel)]="map.choropleth">
          <md-option [value]="null">none</md-option>
          <md-option *ngFor="let dim of dimensions" [value]="dim">{{ dim }}</md-option>
        </md-select>
        <md-checkbox [(ngModel)]="map.isDrawSelection">Show selections</md-checkbox>
      </div>
      <d3ng-groups [context]="context" [groups]="[0,2,1]">
        <d3ng-map #map [data]="data" idKey="code" [currentSelectionGroup]="1" [multiselect]="true"
                       [config]="{ choroplethColors: ['#007700', '#FFCC00'] }"></d3ng-map>
      </d3ng-groups>
    </div>

    <div class="grid" *ngIf="countries && countries.length > 0">
      <p>
        4. Analyse the data of the selected countries. Select via clicking and dragging. Click the colored boxes to switch the selection color.
      </p>
      <div class="col-4-12">
        <d3ng-groups [context]="context" [groups]="[0,2]" style="width: 100%; height: 260px;">
          <d3ng-scatter-plot [data]="countries" [dimensions]='dimensions' [config]="{ticks: [5, 5]}">
          </d3ng-scatter-plot>
        </d3ng-groups>
      </div>
      <div class="col-4-12">
        <d3ng-groups [context]="context" [groups]="[0,2]" style="width: 100%; height: 260px;">
          <d3ng-scatter-plot [data]="countries" [dimensions]='dimensions' [config]="{ticks: [5, 5]}">
          </d3ng-scatter-plot>
        </d3ng-groups>
      </div>
      <div class="col-4-12">
        <d3ng-groups [context]="context" [groups]="[0,2]" style="width: 100%; height: 260px;">
          <d3ng-scatter-plot [data]="countries" [dimensions]='dimensions' [config]="{ticks: [5, 5]}">
          </d3ng-scatter-plot>
        </d3ng-groups>
      </div>
    </div>
  </div>
</div>

