<d3ng-story title="Selection Group">
  <story-description>
    Interactive selection in one chart is reflected in the selection of other charts.
    Charts that interact via selections form <i>selection groups</i>.
  </story-description>

  <story-body>
    <div class="example">
      <d3ng-groups class="chart" [context]="context">
        <d3ng-scatter-plot [data]="data" [dimensions]="dimensions" x="x" y="y" [config]="scatterPlotConfig"></d3ng-scatter-plot>
      </d3ng-groups>

      <d3ng-groups class="chart" [context]="context">
        <d3ng-scatter-plot [data]="data" [dimensions]="dimensions" x="x" y="y" [config]="scatterPlotConfig"></d3ng-scatter-plot>
      </d3ng-groups>
    </div>
  </story-body>

</d3ng-story>

