:host, :host div {
  height: 100%;
  display: block;
}

:host /deep/ .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

:host /deep/ .nodes circle {
  stroke-width: 1.5px;
}

:host /deep/ .nodes .selected {
  stroke: blue;
  stroke-width: 4px;
}
