<p>
  <b>D3ng</b> is a web-based framework for <i>interactive visual analysis</i> of complex data-sets. It is build on top of <b>Angular2</b> and
  <b>D3.js</b>. It allows you to combine multiple individual visualizations (charts) with user interactions that allow to
  explore the relationships between the data shown in different visual representations.
</p>
<p>
  Start by having a look at your two example visualization to get a better idea about what D3ng accomplishes. The <a routerLink="/owid"><i>Our
  world in data (OWID)</i> demo</a> lets you explore the living conditions on our world. The demo about
  <a routerLink="/code-viz">software visualization</a>
  allows you to explore software based on its structure, metrics, and software component dependencies.
</p>
<p>
  Then learn about D3ng's <a routerLink="/stories">visualization combinations</a> and build in <a routerLink="/demos">visualization types</a>.
  Explore the D3ng <a routerLink="/workbench">workbench</a> to create your own complex visualizations without programming.
</p>
<p>
  D3ng is an open-source project under MIT-License that is hosted on github.com <a href="http://github.com/markus1978/d3ng">here</a>.
</p>
