:host {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.header {
  background: lightblue;
  padding: 10px;
  position: relative;
  display: block;
  height: 22px;
}

.header .title {
  min-width: 100px;
  float: left;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  height: 42px;
}

.header .controls {
  float: right;
}

.content {
  height: calc( 100% - 52px );
  padding: 5px;
}
