
.container {
  width: 100%;
  overflow: hidden;
}

.container .nav {
  width: 200px;
  float: left;
}

.container .content {
  margin-left: 220px;
}

.nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.explanations {
  font-style: italic;
}
.explanations p:last-of-type {
  margin-bottom: 0;
}
