:host /deep/ line, :host /deep/ path {
  fill: none; shape-rendering: crispEdges;
}

:host /deep/ g.axis path {
  stroke: #000;
}
:host /deep/ g.axis line {
  stroke: #000;
}
:host /deep/ g.grid line {
  stroke: #AAA;
}

:host /deep/ g.perc rect {
  fill: #68F;
  stroke: white;
  stroke-width: 2px;
}

:host /deep/ g.temp path {
  stroke: red;
}

:host /deep/ g.temp circle {
  fill: red;
}
