<svg d3ng-chart [data]="weather"
                style="height: 300px; width: 100%;">

  <g d3ng-grid y="precipitation"></g>

  <g d3ng-bar-mark class="perc" x="date" y="precipitation"></g>
  <g d3ng-line-mark class="temp" x="date" y="temp_max"></g>
  <g d3ng-line-mark class="temp" x="date" y="temp_min"></g>

  <g d3ng-axis [field]="{field: 'date', orientation: 'bottom', format: 'YYYY/MM/DD', type: 'temporal', timeUnit: 'month', bins: 12}"></g>
  <g d3ng-axis [field]="{field: 'precipitation', orientation: 'left', domain: [0,null]}"></g>
  <g d3ng-axis [field]="{fields: ['temp_max','temp_min'], orientation: 'right', domain: [-10,40]}"></g>
</svg>

<table style="width: 100%;">
  <tr *ngFor="let varRow of ['Horsepower', 'Acceleration']">
    <td *ngFor="let varCol of ['Horsepower', 'Acceleration']">
      <svg d3ng-chart [data]="cars" style="height: 150px; width: 100%;">
        <g d3ng-grid y="row" x="col"></g>
        <g d3ng-circle-mark y="row" x="col"></g>
        <g d3ng-axis [field]="{key: 'col', field: varCol, orientation: 'bottom'}"></g>
        <g d3ng-axis [field]="{key: 'row', field: varRow, orientation: 'left'}"></g>
      </svg>
    </td>
  </tr>
</table>
