<div class="explanations">
  <p>
    To allow you to visualize the relationships between data and its different visualizations, d3ng allows you
    to connect individual simple visualizations via user interactions. D3ng uses selections and selection groups
    to connect different representations of the same data-points.
    This kind of visual analysis task is known as <b>brushing</b> and <b>linking</b>.
  </p>
  <p>
    D3ng support 4 different types of possible chart combinations, each employing brushing and linking in a different manner.
  </p>
</div>
<div class="container">
  <div class="nav">
    <md-list>
      <md-list-item *ngFor="let story of mstories; let i = index">
        <h2 md-list-icon="">{{story.id}}</h2>
        <h4 md-line><a [routerLink]="story.path">{{story.title}}</a></h4>
        <p md-line>{{story.subtitle}}</p>
      </md-list-item>
    </md-list>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
