.container {
  overflow: hidden;
}

.nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

:host /deep/ .mat-list-text {
  padding: 0 16px !important;
}

.explanations {
  font-style: italic;
}
.explanations p:last-of-type {
  margin-bottom: 0;
}

.description {
  color: #555;
}

.body {
  margin-top: 30px;
}
