:host {
  overflow: hidden;
}

h1 {
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 15px;

}

.explanations {
  max-width: 1140px;
  margin: auto;
  font-style: italic;
}
.explanations p:last-of-type {
  margin-bottom: 0;
}
