<h2>D3ng Code Viz</h2>
<div class="explorer">
  <d3ng-collapsible-indented-tree d3ngSource [source]="data" pattern="."
                                  [(selected)]="selection"></d3ng-collapsible-indented-tree>
</div>
<div class="content">
  <d3ng-parallel-coordinates style="height: 300px" d3ngSource
                             [source]="data" pattern="package/type+"
                             [(selected)]="selection"
                             [dimensions]='typeMetrics'></d3ng-parallel-coordinates>
  <d3ng-scatter-plot style="height: 300px;" d3ngSource
                     [source]="data" pattern="package/type+"
                     [(selected)]="selection"
                     x="WMC-CC" y="RFC" [dimensions]='typeMetrics'></d3ng-scatter-plot>

  <d3ng-chord-diagram style="width: 450px;" d3ngSource
                      [source]="data" pattern="package[type]"
                      [(selected)]="selection"></d3ng-chord-diagram>
  <d3ng-radial-edge-bundling style="width: 600px;" d3ngSource
                             [source]="data" pattern="package/type"
                             [(selected)]="selection"></d3ng-radial-edge-bundling>
  <d3ng-force-graph style="width: 400px; height: 600px" d3ngSource
                    [source]="data" pattern="package/type"
                    [(selected)]="selection" nodeValue="WMC-1" [nodeDimensions]="typeMetrics"></d3ng-force-graph>

  <d3ng-tree-map style="height: 400px" d3ngSource
                 [source]="data" pattern="package+/type"
                 [(selected)]="selection" value="WMC-1" [dimensions]="typeMetrics"></d3ng-tree-map>
</div>

