<div class="explanations">
  <p>
    This example demonstrates how interactive visual analysis could be used to
    understand more and more complex software systems and the rules that govern their development.
    Software artifacts like source code or software models are a source of complex multi-model and multi-variant
    data. Here we visualize the packages, classes, dependencies, and metrics of a Java software project.
  </p>
</div>
<div class="grid">
  <div class="col-4-12">
    <p>1a. Select a packages based on their dependencies</p>
    <d3ng-groups [context]="context"
                 [groups]="[3]" (selectedChanged)="onPackagesChanged($event.selected)">
      <d3ng-chord-diagram d3ngSource
                          [source]="data" pattern="package[type]">
      </d3ng-chord-diagram>
    </d3ng-groups>
  </div>
  <div class="col-8-12">
    <p>1b. Inspect package size/complexities via tree map</p>
    <d3ng-groups [context]="context" [groups]="[3]" style="height: 380px;">
      <d3ng-tree-map d3ngSource [source]="data" pattern="package+/type"
                     value="WMC-1" [dimensions]="typeMetrics">
      </d3ng-tree-map>
    </d3ng-groups>
  </div>
</div>

<div class="grid">
  <div class="col-8-12">
    <p>2a. Filter based on class metrics</p>
    <d3ng-groups [context]="context" [groups]="[1]" (selectedChanged)="onClassesChanged($event)">
      <d3ng-parallel-coordinates style="height: 380px;" d3ngSource
                                 [source]="packages" pattern="package/type+"
                                 [dimensions]='typeMetrics'></d3ng-parallel-coordinates>
    </d3ng-groups>
  </div>
  <div class="col-4-12">
    <p>2b. Inspect dependencies of filtered classes</p>
    <d3ng-groups [context]="context" [groups]="[1]">
      <d3ng-radial-edge-bundling [config]="{textWidth: 30, shortenLength: 10}"
                                 d3ngSource
                                 [source]="data" pattern="package/type">
      </d3ng-radial-edge-bundling>
    </d3ng-groups>
  </div>
</div>

<div class="grid" *ngIf="classes && classes.length > 0">
  <p>3. Analyse relationships between metrics of filtered classes.</p>
  <div class="col-4-12">
    <d3ng-groups [context]="context" [groups]="[0,2]" style="height: 380px;">
      <d3ng-scatter-plot [data]="classes" x="WMC-CC" y="RFC"
                         [dimensions]='typeMetrics' [config]="{ticks: [5, 5]}">
      </d3ng-scatter-plot>
    </d3ng-groups>
  </div>
  <div class="col-4-12">
    <d3ng-groups [context]="context" [groups]="[0,2]" style="height: 380px;">
      <d3ng-scatter-plot [data]="classes" x="WMC-CC" y="LCOM"
                         [dimensions]='typeMetrics' [config]="{ticks: [5, 5]}">
      </d3ng-scatter-plot>
    </d3ng-groups>
  </div>
  <div class="col-4-12">
    <d3ng-groups [context]="context" [groups]="[0,2]" style="height: 380px;">
      <d3ng-scatter-plot [data]="classes" x="RFC" y="CBO"
                         [dimensions]='typeMetrics' [config]="{ticks: [5, 5]}">
      </d3ng-scatter-plot>
    </d3ng-groups>
  </div>
</div>
